<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabs</title>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../../dist/output.css" />
  </head>
  <body class="bg-grey-100">
    <!-- Tabs -->
    <!-- Default state [text-grey-300 text-xl font-medium after:content-['>'] after:ml-2 after:inline-block] -->
    <!-- Active state [text-grey-400 text-[2rem] leading-[3rem] font-semibold after:hidden] -->
    <ul class="flex items-center gap-2">
      <li>
        <a
          href=""
          class="text-grey-300 text-xl font-medium after:content-['>'] after:ml-2 after:inline-block"
          data-target="company"
          >Company</a
        >
      </li>
      <li>
        <a
          href=""
          class="text-grey-400 text-[2rem] leading-[3rem] font-semibold after:hidden"
          data-target="company"
          >Company</a
        >
      </li>
    </ul>
  </body>
</html>
