<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Last Link</title>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../../dist/output.css" />
  </head>
  <body>
    <!-- Last link -->
    <!-- For default state: [class="hover:text-secondary-600"] only  -->
    <!-- For active state: [class="text-secondary-600 hover:text-secondary-600"] only -->
    <li>
      <a href="" class="hover:text-secondary-600"> Company Info </a>
    </li>
  </body>
</html>
