<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link</title>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../../dist/output.css" />
  </head>
  <body>
    <!-- Double Icon Link -->
    <!-- For default state: [class="list-none group"] only -->
    <!-- For active state: [class="list-none group active"] only -->
    <li class="list-none group">
      <a
        href=""
        class="flex items-center gap-3 rounded px-5 py-4 h-[3.3125rem] bg-white text-primary-600 hover:text-white hover:bg-primary-600 group-[.active]:text-white group-[.active]:bg-primary-600 transition-all"
      >
        <i
          ><svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="group-hover:stroke-white group-[.active]:stroke-white"
              d="M1.66602 18.9685H18.3327"
              stroke="#017733"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              class="group-hover:stroke-white group-[.active]:stroke-white"
              d="M14.1667 2.302H5.83333C3.33333 2.302 2.5 3.79367 2.5 5.63534V18.9687H17.5V5.63534C17.5 3.79367 16.6667 2.302 14.1667 2.302Z"
              stroke="#017733"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              class="group-hover:stroke-white group-[.active]:stroke-white"
              d="M5.83398 14.3853H8.33398"
              stroke="#017733"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              class="group-hover:stroke-white group-[.active]:stroke-white"
              d="M11.666 14.3853H14.166"
              stroke="#017733"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              class="group-hover:stroke-white group-[.active]:stroke-white"
              d="M5.83398 10.6353H8.33398"
              stroke="#017733"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              class="group-hover:stroke-white group-[.active]:stroke-white"
              d="M11.666 10.6353H14.166"
              stroke="#017733"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              class="group-hover:stroke-white group-[.active]:stroke-white"
              d="M5.83398 6.88525H8.33398"
              stroke="#017733"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              class="group-hover:stroke-white group-[.active]:stroke-white"
              d="M11.666 6.88525H14.166"
              stroke="#017733"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </i>
        <span>Company</span>
        <i class="ml-auto">
          <svg
            class="group-[.active]:hidden"
            width="9"
            height="15"
            viewBox="0 0 9 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="group-hover:stroke-white"
              d="M1.4248 14.2352L6.85814 8.80182C7.49981 8.16016 7.49981 7.11016 6.85814 6.46849L1.4248 1.03516"
              stroke="#017733"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <svg
            class="hidden group-[.active]:inline-block"
            width="16"
            height="8"
            viewBox="0 0 16 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6004 1.09351L9.16706 6.52684C8.52539 7.16851 7.47539 7.16851 6.83372 6.52684L1.40039 1.09351"
              stroke="white"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </i>
      </a>

      <ul
        class="hidden group-[.active]:flex flex-col max-w-[13.5rem] w-full ml-auto text-primary-600"
      >
        <!-- Sub Link -->
        .......
      </ul>
    </li>

    <!-- Single Icon Link -->
    <!-- For default state: [class="list-none group"] only  -->
    <!-- For active state: [class="list-none group active"] only -->
    <li class="list-none group">
      <a
        href=""
        class="flex items-center gap-3 px-5 py-4 h-[3.3125rem] rounded bg-white text-primary-600 hover:text-white hover:bg-primary-600 group-[.active]:text-white group-[.active]:bg-primary-600 transition-all"
      >
        <i>
          <svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="group-hover:stroke-white group-[.active]:stroke-white"
              d="M10.1009 11.2852C10.0426 11.2769 9.96758 11.2769 9.90091 11.2852C8.43424 11.2352 7.26758 10.0352 7.26758 8.56024C7.26758 7.0519 8.48424 5.8269 10.0009 5.8269C11.5092 5.8269 12.7342 7.0519 12.7342 8.56024C12.7259 10.0352 11.5676 11.2352 10.1009 11.2852Z"
              stroke="#017733"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              class="group-hover:stroke-white group-[.active]:stroke-white"
              d="M15.6161 16.7853C14.1328 18.1436 12.1661 18.9686 9.99948 18.9686C7.83281 18.9686 5.86615 18.1436 4.38281 16.7853C4.46615 16.002 4.96615 15.2353 5.85781 14.6353C8.14115 13.1186 11.8745 13.1186 14.1411 14.6353C15.0328 15.2353 15.5328 16.002 15.6161 16.7853Z"
              stroke="#017733"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              class="group-hover:stroke-white group-[.active]:stroke-white"
              d="M9.99935 18.9687C14.6017 18.9687 18.3327 15.2377 18.3327 10.6353C18.3327 6.03296 14.6017 2.302 9.99935 2.302C5.39698 2.302 1.66602 6.03296 1.66602 10.6353C1.66602 15.2377 5.39698 18.9687 9.99935 18.9687Z"
              stroke="#017733"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </i>
        <span>Profile</span>
      </a>
    </li>
  </body>
</html>
