<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eso-Terra | Dashboard</title>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../../dist/output.css" />
  </head>
  <body>
    <!-- Dashboard App [not for authentication screens]-->
    <div
      class="md:grid grid-cols-[21.5rem_1fr] gap-6 w-full h-screen p-5 bg-grey-100 overflow-hidden"
    >
      <!-- Sidebar -->

      <!-- Content -->
      <div class="flex flex-col w-full h-full py-2 overflow-hidden">
        <!-- Content Header -->
        <div class="flex items-center min-h-[3.7rem]">...</div>

        <!-- Content Wrapper -->
        <div class="relative mt-8 overflow-y-auto h-full scrollbar">...</div>
      </div>
    </div>
  </body>
</html>
