@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply text-base text-grey-300 font-roboto font-normal;
  text-rendering: optimizeLegibility;
}

img {
  @apply block max-w-full;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-grey-400;
}

h1 {
  @apply text-4xl leading-[3.4rem];
}

h2 {
  @apply text-[2rem] leading-[3rem];
}

h3 {
  @apply text-xl leading-[2.7rem];
}

h4 {
  @apply text-[1.625rem] leading-[2.4rem];
}

h5 {
  @apply text-[1.4rem] leading-[2rem];
}

h6 {
  @apply text-xl leading-[1.875rem];
}

.subtitle-1 {
  @apply text-base leading-[1.5rem] font-medium;
}

.subtitle-2 {
  @apply text-sm leading-[1.5rem] font-medium;
}

.dashboard {
  @apply w-full p-5 md:p-10 bg-[#FFFFFF];
}

/* Components */
.btn {
  @apply inline-flex items-center justify-center text-sm font-medium rounded transition-all disabled:opacity-40;
}

.btn-md {
  @apply w-full h-[2.8125rem] p-3;
}

.btn-lg {
  @apply w-full h-[3.3125rem] px-4 py-5;
}

.btn-primary {
  @apply bg-primary-600 text-[#FFFFFF] hover:bg-primary-700 active:bg-primary-800 disabled:bg-primary-100;
}

.btn-primary--outline {
  @apply bg-[#FFFFFF] border border-primary-600 text-primary-600 hover:bg-primary-100 active:border-2 disabled:bg-primary-100 disabled:border-primary-200 disabled:text-primary-200;
}

.btn-secondary {
  @apply bg-secondary-600 text-[#FFFFFF] hover:bg-secondary-700 active:bg-secondary-800 disabled:bg-secondary-100;
}

input,
select {
  @apply h-[3.3125rem] text-primary-600 p-4 border border-primary-100 rounded outline-none placeholder:text-primary-300  focus:border-primary-500 focus:placeholder:text-primary-600;
}

input:-webkit-autofill {
  -webkit-text-fill-color: rgb(1 143 61) !important;
}

label {
  @apply text-primary-500 text-xs font-normal cursor-pointer;
}

.group_input_col {
  @apply flex flex-col gap-y-6 mb-6;
}

.input-form {
  @apply relative flex flex-col gap-1;
}

.input-form.icon-left input {
  @apply pr-9;
}

.input-form .icon {
  @apply cursor-pointer;
}

.input-form.icon-left .icon {
  @apply absolute top-9 right-3;
}

.input-form.icon-left.invalid .icon svg path {
  @apply fill-error-400 stroke-none;
}

.input-form.invalid > .error_message {
  @apply block;
}

.error_message {
  @apply hidden text-sm text-error-400 mt-1;
}

.input-form.invalid label,
.input-form.invalid input {
  @apply text-error-400 border-error-400;
}

.input-form.invalid input::placeholder {
  @apply text-error-200;
}

.input_desc p {
  @apply text-sm text-secondary-500;
}

.input_desc ul {
  @apply text-xs text-secondary-400;
}

.lead {
  @apply block text-center text-sm font-normal text-primary-400;
}
