<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Icon</title>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../../dist/output.css" />
  </head>
  <body>
    <a href="" class="flex items-center gap-4">
      <div class="w-[3rem] h-[3rem]">
        <img
          src="../../images/dashboard/avatar.png"
          alt="user_avatar"
          class="block w-full h-full object-cover rounded-full"
        />
      </div>
      <div class="font-medium leading-6">
        <h6 class="text-grey-400 text-base">Samuel Samuel</h6>
        <p class="text-grey-200 text-base">ET202374</p>
      </div>
    </a>
  </body>
</html>
