<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tables</title>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../../dist/output.css" />
  </head>
  <body>
    <!-- Members table -->
    <div class="grid grid-cols-1 h-[85%]">
      <div class="overflow-auto scrollbar">
        <table
          class="min-w-[53rem w-full text-sm text-left text-grey-300 font-medium"
        >
          <thead
            class="text-base capitalize text-primary-500 bg-primary-100 h-12 border-collapse"
          >
            <tr>
              <th></th>
              <th class="px-6 py-3">Staffs Name</th>
              <th class="px-6 py-3">Role</th>
              <th class="px-6 py-3">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white h-[2.8rem] border-y-[15px] border-grey-100">
              <td class="text-center bg-grey-100">
                <img
                  src="../../images/dashboard/avatar.png"
                  alt="image"
                  class="w-[2rem] h-[2rem] rounded-full object-cover"
                />
              </td>
              <td class="px-6 py-3 rounded-l">Frist Name Last Name</td>
              <td class="px-6 py-3">Staffs</td>
              <td class="px-6 py-3 flex justify-between">
                <span>Staff@ET.com</span>
                <button>
                  <svg
                    width="20"
                    height="21"
                    viewBox="0 0 20 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.3327 11.2498V14.7498C13.3327 17.6665 12.166 18.8332 9.24935 18.8332H5.74935C2.83268 18.8332 1.66602 17.6665 1.66602 14.7498V11.2498C1.66602 8.33317 2.83268 7.1665 5.74935 7.1665H9.24935C12.166 7.1665 13.3327 8.33317 13.3327 11.2498Z"
                      stroke="#727272"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M18.3327 6.24984V9.74984C18.3327 12.6665 17.166 13.8332 14.2494 13.8332H13.3327V11.2498C13.3327 8.33317 12.166 7.1665 9.24935 7.1665H6.66602V6.24984C6.66602 3.33317 7.83268 2.1665 10.7493 2.1665H14.2494C17.166 2.1665 18.3327 3.33317 18.3327 6.24984Z"
                      stroke="#727272"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
              </td>
            </tr>
            <tr class="bg-white h-[2.8rem] border-y-[15px] border-grey-100">
              <td class="text-center bg-grey-100">
                <img
                  src="../../images/dashboard/avatar.png"
                  alt="image"
                  class="w-[2rem] h-[2rem] rounded-full object-cover"
                />
              </td>
              <td class="px-6 py-3 rounded-l">Frist Name Last Name</td>
              <td class="px-6 py-3">Staffs</td>
              <td class="px-6 py-3 flex justify-between">
                <span>Staff@ET.com</span>
                <button>
                  <svg
                    width="20"
                    height="21"
                    viewBox="0 0 20 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.3327 11.2498V14.7498C13.3327 17.6665 12.166 18.8332 9.24935 18.8332H5.74935C2.83268 18.8332 1.66602 17.6665 1.66602 14.7498V11.2498C1.66602 8.33317 2.83268 7.1665 5.74935 7.1665H9.24935C12.166 7.1665 13.3327 8.33317 13.3327 11.2498Z"
                      stroke="#727272"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M18.3327 6.24984V9.74984C18.3327 12.6665 17.166 13.8332 14.2494 13.8332H13.3327V11.2498C13.3327 8.33317 12.166 7.1665 9.24935 7.1665H6.66602V6.24984C6.66602 3.33317 7.83268 2.1665 10.7493 2.1665H14.2494C17.166 2.1665 18.3327 3.33317 18.3327 6.24984Z"
                      stroke="#727272"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Payment table -->
    <div class="grid grid-cols-1 h-[85%]">
      <div class="overflow-auto scrollbar">
        <table
          class="min-w-[53rem] w-full text-sm text-left text-grey-300 font-medium"
        >
          <thead
            class="text-base capitalize text-primary-500 bg-primary-100 h-12 border-collapse"
          >
            <tr>
              <th class="px-6 py-3">Date</th>
              <th class="px-6 py-3">Salary</th>
              <th class="px-6 py-3">Bonus</th>
              <th class="px-6 py-3">Deduction</th>
              <th class="px-6 py-3">Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white h-[2.8rem] border-y-[15px] border-grey-100">
              <td class="px-6 py-3">30 - Nov - 2023</td>
              <td class="px-6 py-3">N 150,000</td>
              <td class="px-6 py-3">N 0.0</td>
              <td class="px-6 py-3">N 0.0</td>
              <td class="px-6 py-3">Paid</td>
              <td class="bg-grey-100 pl-3 flex items-center gap-2">
                <button class="btn btn-primary--outline btn-md w-full">
                  View
                </button>
                <button class="btn btn-primary--outline btn-md w-fit">
                  <i>
                    <svg
                      width="24"
                      height="25"
                      viewBox="0 0 24 25"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M9 11.5V17.5L11 15.5"
                        stroke="#56B47E"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M9 17.5L7 15.5"
                        stroke="#56B47E"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M22 10.5V15.5C22 20.5 20 22.5 15 22.5H9C4 22.5 2 20.5 2 15.5V9.5C2 4.5 4 2.5 9 2.5H14"
                        stroke="#56B47E"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M22 10.5H18C15 10.5 14 9.5 14 6.5V2.5L22 10.5Z"
                        stroke="#56B47E"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </i>
                </button>
              </td>
            </tr>
            <tr class="bg-white h-[2.8rem] border-y-[15px] border-grey-100">
              <td class="px-6 py-3">30 - Nov - 2023</td>
              <td class="px-6 py-3">N 150,000</td>
              <td class="px-6 py-3">N 0.0</td>
              <td class="px-6 py-3">N 0.0</td>
              <td class="px-6 py-3 pending">Pending</td>
              <td class="bg-grey-100 pl-3 flex items-center gap-2">
                <button class="btn btn-primary--outline btn-md w-full">
                  View
                </button>
                <button class="btn btn-primary--outline btn-md w-fit">
                  <i>
                    <svg
                      width="24"
                      height="25"
                      viewBox="0 0 24 25"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M9 11.5V17.5L11 15.5"
                        stroke="#56B47E"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M9 17.5L7 15.5"
                        stroke="#56B47E"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M22 10.5V15.5C22 20.5 20 22.5 15 22.5H9C4 22.5 2 20.5 2 15.5V9.5C2 4.5 4 2.5 9 2.5H14"
                        stroke="#56B47E"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M22 10.5H18C15 10.5 14 9.5 14 6.5V2.5L22 10.5Z"
                        stroke="#56B47E"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
