<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../../dist/output.css" />
  </head>
  <body>
    <!-- Default state: [hidden fixed top-0 left-0 right-0 z-50 flex-col justify-center items-center bg-grey-400/80 p-4 overflow-hidden min-h-screen backdrop-blur-sm] -->
    <!-- Active state: [flex fixed top-0 left-0 right-0 z-50 flex-col justify-center items-center bg-grey-400/80 p-4 overflow-hidden min-h-screen backdrop-blur-sm] -->
    <div
      id="logout"
      tabindex="-1"
      class="hidden fixed top-0 left-0 right-0 z-50 flex-col justify-center items-center bg-grey-400/80 p-4 overflow-hidden min-h-screen backdrop-blur-sm"
    >
      <div
        class="relative w-full inline-flex flex-col items-center justify-center text-center text-grey-300 bg-white max-w-[32.5rem] h-full min-h-[18.75rem] py-14 px-20 border rounded border-grey-400"
      >
        <!-- Contents -->
        <h1>Modal</h1>
      </div>
    </div>
  </body>
</html>
