<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notification</title>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../../dist/output.css" />
  </head>
  <body class="bg-grey-100">
    <div class="relative mr-8">
      <!-- Default state [relative flex justify-center items-center ml-auto mr-8 w-11 h-11 rounded bg-white ] -->
      <!-- Active state [relative flex justify-center items-center ml-auto mr-8 w-11 h-11 rounded bg-white after:content-[''] after:absolute after:h-2 after:w-2 after:rounded-full after:bg-error-400 after:top-3 after:right-3] -->
      <button
        class="relative flex justify-center items-center ml-auto w-11 h-11 rounded bg-white after:content-[''] after:absolute after:h-2 after:w-2 after:rounded-full after:bg-error-400 after:top-3 after:right-3"
      >
        <i>
          <svg
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 6.93994V10.2699"
              stroke="#018F3D"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
            />
            <path
              d="M12.0209 2.5C8.34087 2.5 5.36087 5.48 5.36087 9.16V11.26C5.36087 11.94 5.08087 12.96 4.73087 13.54L3.46087 15.66C2.68087 16.97 3.22087 18.43 4.66087 18.91C9.44087 20.5 14.6109 20.5 19.3909 18.91C20.7409 18.46 21.3209 16.88 20.5909 15.66L19.3209 13.54C18.9709 12.96 18.6909 11.93 18.6909 11.26V9.16C18.6809 5.5 15.6809 2.5 12.0209 2.5Z"
              stroke="#018F3D"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
            />
            <path
              d="M15.3299 19.3201C15.3299 21.1501 13.8299 22.6501 11.9999 22.6501C11.0899 22.6501 10.2499 22.2701 9.64992 21.6701C9.04992 21.0701 8.66992 20.2301 8.66992 19.3201"
              stroke="#018F3D"
              stroke-width="1.5"
              stroke-miterlimit="10"
            />
          </svg>
        </i>
      </button>

      <!-- Default state [hidden absolute top-14 right-0 w-[12.5rem] sm:w-[29rem] h-[27rem] bg-white rounded drop-shadow z-50] -->
      <!-- Active state [grid absolute top-14 right-0 w-[12.5rem] sm:w-[29rem] h-[27rem] bg-white rounded drop-shadow z-50] -->
      <div
        class="grid absolute top-14 right-0 w-[12.5rem] sm:w-[29rem] h-[27rem] bg-white rounded drop-shadow z-50"
      >
        <div class="pb-2 border-b border-secondary-400 py-2 px-5">
          <h5 class="text-sm text-secondary-400 leading-[1.5rem] font-medium">
            Notification
          </h5>
        </div>
        <div
          class="flex flex-col gap-4 px-5 h-[95%] my-auto overflow-y-auto scrollbar-thumb-secondary-400 scrollbar-thin scrollbar-track-secondary-100"
        >
          <a href="" class="flex gap-4 p-2">
            <div>
              <img src="../images/dashboard/notify.png" alt="" srcset="" />
            </div>
            <div>
              <p class="text-sm leading-[1.5rem]">
                <span class="font-medium">Angelina Smith</span> shared a new
                resource with you.
              </p>
              <p class="text-secondary-400 text-[0.625rem]">Just now</p>
            </div>
          </a>
          <a href="" class="flex gap-4 p-2">
            <div>
              <img src="../images/dashboard/notify.png" alt="" srcset="" />
            </div>
            <div>
              <p class="text-sm leading-[1.5rem]">
                <span class="font-medium">Angelina Smith</span> shared a new
                resource with you.
              </p>
              <p class="text-secondary-400 text-[0.625rem]">Just now</p>
            </div>
          </a>
          <a href="" class="flex gap-4 p-2">
            <div>
              <img src="../images/dashboard/notify.png" alt="" srcset="" />
            </div>
            <div>
              <p class="text-sm leading-[1.5rem]">
                <span class="font-medium">Angelina Smith</span> shared a new
                resource with you.
              </p>
              <p class="text-secondary-400 text-[0.625rem]">Just now</p>
            </div>
          </a>
          <a href="" class="flex gap-4 p-2">
            <div>
              <img src="../images/dashboard/notify.png" alt="" srcset="" />
            </div>
            <div>
              <p class="text-sm leading-[1.5rem]">
                <span class="font-medium">Angelina Smith</span> shared a new
                resource with you.
              </p>
              <p class="text-secondary-400 text-[0.625rem]">Just now</p>
            </div>
          </a>
          <a href="" class="flex gap-4 p-2">
            <div>
              <img src="../images/dashboard/notify.png" alt="" srcset="" />
            </div>
            <div>
              <p class="text-sm leading-[1.5rem]">
                <span class="font-medium">Angelina Smith</span> shared a new
                resource with you.
              </p>
              <p class="text-secondary-400 text-[0.625rem]">Just now</p>
            </div>
          </a>
          <a href="" class="flex gap-4 p-2">
            <div>
              <img src="../images/dashboard/notify.png" alt="" srcset="" />
            </div>
            <div>
              <p class="text-sm leading-[1.5rem]">
                <span class="font-medium">Angelina Smith</span> shared a new
                resource with you.
              </p>
              <p class="text-secondary-400 text-[0.625rem]">Just now</p>
            </div>
          </a>
          <a href="" class="flex gap-4 p-2">
            <div>
              <img src="../images/dashboard/notify.png" alt="" srcset="" />
            </div>
            <div>
              <p class="text-sm leading-[1.5rem]">
                <span class="font-medium">Angelina Smith</span> shared a new
                resource with you.
              </p>
              <p class="text-secondary-400 text-[0.625rem]">Just now</p>
            </div>
          </a>
          <a href="" class="flex gap-4 p-2">
            <div>
              <img src="../images/dashboard/notify.png" alt="" srcset="" />
            </div>
            <div>
              <p class="text-sm leading-[1.5rem]">
                <span class="font-medium">Angelina Smith</span> shared a new
                resource with you.
              </p>
              <p class="text-secondary-400 text-[0.625rem]">Just now</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
